{% extends "appLayout.html" %} {% block title %}
<h1>Clients</h1>
{% endblock title %} {% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <table class="clientsListingTable">
                <tr>
                    <th class="taLeft">Name</th>
                    <th class="taLeft">Email Address</th>
                    <th class="taLeft">Projects</th>
                </tr>
                <tr>
                    <td class="taLeft">James Hutton</td>
                    <td class="taLeft">j.hutton@gmail.com</td>
                    <td class="taLeft">Leviathan Wakes, Angels and Demons</td>
                </tr>
                <tr>
                    <td class="taLeft">P. Hilton</td>
                    <td class="taLeft">sexgodhilton@hotmail.com</td>
                    <td class="taLeft">Tooth and Nail, My Life in Hotels</td>
                </tr>
                <tr>
                    <td class="taLeft">L.Kudrow</td>
                    <td class="taLeft">mynameisntfucking@phoebe.com</td>
                    <td class="taLeft">Smelly Cat</td>
                </tr>
                <tr>
                    <td class="taLeft">Amy Adams</td>
                    <td class="taLeft">amy.adams897@yahoomail.com</td>
                    <td class="taLeft">PeenEeeting: A Phallic Diet</td>
                </tr>
                <tr>
                    <td class="taLeft">M. Run Hobbard</td>
                    <td class="taLeft">imafuckingidiot@lol.com</td>
                    <td class="taLeft">How to provide nothing to society</td>
                </tr>
                <tr>
                    <td class="taLeft">Nicky B</td>
                    <td class="taLeft">fatloser96@gmail.com</td>
                    <td class="taLeft">timeWastingv1.0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-box">
            &nbsp;<br/><br/><br/>
        </div>
    </div>
</div>

{% endblock content %}