<!DOCTYPE html>
<html>
    <head>
        <title>Intra | Sign in</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
        <script src="{{url_for('static', filename='js/fader.js')}}"></script> 
    </head>
    <body class="remove_mp">
      <svg id="fader"></svg>
      <script>
        fadeInPage();
      </script>
        <div class="splashBackground">
            <div class="boilerPlate">
                <div class="artArea">
                    <a href="/"><img src="{{url_for('static', filename='img/intraLight.png')}}" id="intraLogo" /></a>
                </div>
                <div class="formArea">
                    <div class="formContainer">
                        <h2>Log In</h2>
                        <h3 class="muted smallcaps">don't have an account? <a href="#">sign up for free</a></h3>
                        <br />
                        <form id="loginForm" action="#" method="POST">
                            <input type="text" name="username" placeholder="Email Address" autocomplete="off">
                            <input type="password" name="password" placeholder="Password">
                            <a class="muted smallcaps no-decoration forgotPasswordLink" href="#">forgot?</a>
                            <br />
                            <label class="container"><span class="muted smallcaps rememberMeText">remember me</span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            <input type="button" class="loginButton smallcaps" value="log in">
                            <span class="muted smallcaps orDivider">or</span>
                            <input type="button" class="loginButton smallcaps mb10 discordLoginButton" value="log in with discord">
                            <input type="button" class="loginButton smallcaps facebookLoginButton mb10" value="log in with facebook">
                            <input type="button" class="loginButton smallcaps googleLoginButton" value="log in with google">
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>